ul{
    margin: 0;
    padding: 0;
}
#blob {
    background: #f5f5f5;
    position: absolute;
    z-index: 1;
    top: 0;
    background: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f5f5f5));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px #233b49;
}
#nav 
{
    clear:both;
    position: relative;
    margin-top:25px;
    width:660px;
    float: left;
}

#nav li {
    float: left;
    list-style: none;
    background: url( '../../Design/line_menu.png' ) no-repeat;

}
#nav li.home_li {
    float: left;
    list-style: none;
    background: none;
}
#nav li a {
    color: #233b49;
    z-index: 2;
    position: relative;
    cursor: pointer;
    float: left;
    text-decoration: none;
    padding-bottom:12px;
    padding-top:12px;
    margin-right:25px;
    width:100%;
}